repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.69.2
    hooks:
      - id: renovate-config-validator
        args: [--strict]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: ty check
        language: system
        types:
          - python
      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types:
          - python
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types:
          - python
