name: Publish

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: setup-uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          cache-dependency-glob: "**/pyproject.toml"

      - name: Build package
        run: uv build

      - name: Publish to pypi
        run: uv publish --token ${{ secrets.PYPI_TOKEN }}
